@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  background-color: rgba(255, 255, 255, 0);
  color: #37352f;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html.dark {
  color-scheme: dark;
}

body {
  margin: 30px;
  min-width: 320px;
  @apply bg-white text-[#37352f] dark:bg-[#18181b] dark:text-[#e5e7eb];
}

.bg-dot-grid {
  background-image: radial-gradient(circle, #ccc 1px, transparent 1px);
}
.bg-dot-grid-size {
  background-size: 20px 20px;
}

html.dark .bg-dot-grid {
  background-image: radial-gradient(circle, #444 1px, transparent 1px);
}

